/* simple "from > to" */
@keyframes move {
  from {
      left: 5%;
  }
  to {
      left: 85%;
  }
}



/* assign animation to ball element */
.ball {
  animation: 10s move;
}
.ball2 {
  animation: 11s move;
}
.ball3 {
  animation: 12s move;
}
.ball4 {
  animation: 13s move;
}
.ball5 {
  animation: 14s move;
}
.ball6 {
  animation: 15s move;
}
.ball7 {
  animation: 16s move;
}







/* base styles */

body {
  text-align: center;
  background: #fafafa;

}

.ball {
  width: 9%;
  padding-bottom: 9%;
  border-radius: 50%;
  background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 100px;
  left: 5%;
 background-color: #FF0000;
}
.ball2 {
  width: 9%;
  padding-bottom: 9%;
  border-radius: 50%;
  background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 250px;
  left: 5%;
 background-color: #FF8000;
}
.ball3 {
  width: 9%;
  padding-bottom: 9%;
  border-radius: 50%;
  background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 400px;
  left: 5%;
 background-color: #FFFF00;
}
.ball4 {
  width: 9%;
  padding-bottom: 9%;
  border-radius: 50%;
  background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 550px;
  left: 5%;
 background-color: #40FF00;
}
.ball5 {
  width: 9%;
  padding-bottom: 9%;
  border-radius: 50%;
  background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 700px;
  left: 5%;
 background-color: #00FFFF;
}
.ball6 {
  width: 9%;
  padding-bottom: 9%;
  border-radius: 50%;
  background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 850px;
  left: 5%;
 background-color: #0040FF;
}
.ball7 {
  width: 9%;
  padding-bottom: 9%;
  border-radius: 50%;
  background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 1000px;
  left: 5%;
 background-color: #8000FF;
}
.red{
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
   background: #DF0101;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 100px;
  left: 5%;
       background-color:#B40404;
}
.orange{
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
   background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 250px;
  left: 5%;
  background-color:#FF4000;
}
.yellow{
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
   background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 400px;
  left: 5%;
  background-color: #FFBF00;
}
.green{
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
   background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 550px;
  left: 5%;
  background-color: #01DF01;
}
.blou{
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
   background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 700px;
  left: 5%;
  background-color: #01DFD7;
}
.blou2{
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
   background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 850px;
  left: 5%;
  background-color: #013ADF;
}
.purple{
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
   background: #2098d1;
  box-shadow: -3px 5px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 1000px;
  left: 5%;
  background-color: #5F04B4;
}